.Palette {
	height: 98vh;
	display: flex;
	flex-direction: column;
	&-colors {
		height: 90%;
	}
	&-footer {
		background-color: white;
		height: 5vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.emoji {
			font-size: 1rem;
			margin: 0 1rem;
		}
	}
}
